/* End of Univeral CSS */

::-webkit-scrollbar {
    display: none;
}

body {
    width: 1536px;
    background-color: #e5e5e5;
}

@font-face {
    font-family: 'Awesome_Birds';
    src: url('../fonts/Awesome_Birds.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hamilton';
    src: url('../fonts/hamilton.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moon_Flower';
    src: url('../fonts/Moon_FLower.ttf');
    font-weight: normal;
    font-style: normal;
}

/* End of Universal CSS */

/* ----------------------- */

/* ----------------------- */

/* Start of Opening Page CSS */

/* Background slideshow for opening page CSS */

.slideShow {
    width: 1536px;
    height: 800px;
    position: absolute;
    z-index: 0;
}

/* Background slideshow for opening page CSS */

.mySlides {
    height: 100%;
    width: 100%;
}

/* Moves all content in opening page to the front of page*/

.openingContent {
    position: relative;
    z-index: 1;
}

/* Project Title Name CSS */

#openingTasteful {
    font-family: 'Awesome_Birds';
    color: #ffffff;
    font-size: 12em;
    text-align: left;
    margin-top: 25%;
}

/* Contains the Sign up and use as guest buttons */

.signUpGuest {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

/* adds color to buttons */

#guest,
#signUp {
    background-color: #DAA520;
    font-family: 'Roboto Slab', serif;
}

/* End of Opening Page CSS */

/* ----------------------- */

/* ----------------------- */

/* Start of Signup/Survey Page CSS */

.newAccountSheet, .surveySheet {
    color: #FFFFFF;
    background-color: #3c4858;
    height: 31em;
    margin-top: 1%;
    border-radius: 2%;
    box-shadow: 0px 40px 50px #000000;
}

.form-control
{
    color: #fff;
}

.surveySheet {
    color: #FFFFFF;
    background-color: #3c4858;
    height: 33rem;
    margin-top: .1rem;
    border-radius: 2%;
    box-shadow: 0px 40px 50px #000000;
}
#createAccountHeader, #surveyHeader,
#sidebarHeader {
    font-family: 'Moon_Flower';
    font-size: 2.2em;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: left;
}

#submit-account-button, #submit-survey-button {
    font-family: 'Moon_Flower';
    border-color: #FFFFFF;
    background-color: #3c4858;
    font-size: 2em;
}

#submit-account-button:hover, #submit-account-button:active,#submit-survey-button:hover, #submit-survey-button:active {
    font-family: 'Moon_Flower';
    color: #fff;
    background-color: #303946;
}

#invalid {
    color: red;
    margin-bottom: 10px;
}

/* End sign up page CSS */

/* ----------------------- */

/* ----------------------- */

/* Start of Main Page CSS */

/* Background Image + Height&Width */

.mainBackground {
    height: 100%;
    width: 100%;
    background-image: url("../images/tableTop.jpg");
    background-size: 100% 125%;
    overflow-y: scroll;
}

/* Width of Container that will contain map and side bar */

.container {
    width: 100%;
}

/* Text CSS for Tasteful Banner */

#mainTasteful,
#newAccountTasteful,
#surveyTasteful {
    font-family: 'Awesome_Birds';
    font-size: 5em;
    color: #FFFFFF;
    text-align: left;
}


/* CSS for user UserGreeting on top right side of mainpage */

#userInfo {
    font-family: 'Moon_Flower';
    font-size: 1.5em;
    margin-top: 8%;
    color: #FFFFFF;
    text-align: right;
}

/* Shadow for MainContainer Div */

.mainContent {
    box-shadow: 0px 40px 50px #000000;
    padding: 0;
}

/* Adjust the width of map div to fit in main div */

.map {
    height: 70%;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

/* Adjust Map Search bar CSS */

#autocomplete {
    background-color: #fff;
    font-family: Roboto;
    font-size: 1.5em;
    font-weight: 300;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-left: 12px;
    width: 75%;
    padding: 0 11px 0 13px;
    border-radius: 50px;
}

#autocomplete:focus {
    border-color: #4d90fe;
}

#locationField {
    padding-left: 10px;
}

/* Start of sidebar content CSS */

/* Adjust the width of sidebar div to fit in main div */

.sidebar {
    height: 70%;
    padding: 0;
    color: #FFFFFF;
    background-color: #3c4858;
    overflow: scroll;
}

.food {
    background-color: indianred;
    border-style: solid;
    margin-right: 5px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 10px;
    text-indent: 10px;
    font-size: 2em;
    font-family: 'Moon_Flower';
}

/* End of sidebar content CSS */

.secondaryContent {
    margin-top: 55px;
    height: 130%;
    width: 97%;
    color: #3c4858;
    background-color: #FFFFFF;
    box-shadow: 0px 40px 50px #000000;
    border-radius: 2%;
}

#descriptionHeaders {
    font-family: 'Roboto Slab', serif;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #999;
    font-size: .8em;
    text-align: center;
}

.description {
    margin-bottom: 2%;
}

.productInfo {
    margin-bottom: 8%;
}

h3 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

.glyphicon {
    width: 25%;
}

#glyphicon {
    color: #999;
}

.test {
    height: 75%;
    width: 95%;
}

.test2 {
    height: 100%;
}

.test3 {
    height: 100%;
}

/* Fixed sidenav, full height */

.foodFeatures {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */

.foodFeatures,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */

.foodFeatures a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */

.active {
    background-color: #303946;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    background-color: #36404f;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* End of MainPage Page CSS */

/* ----------------------- */

/* ----------------------- */

